<style>
input {width:200px;}
.submit {width:120px;}

#error {
	color:red;
	font-size:10px;
	display:none;
}
.needsfilled {
	background:whitesmoke !important;
	color:red !important;
	border-col
{
	/* Event ID */ $event_id = $event_sms['event_id'];
	$url = 'leadcontroller/send_sms_of_event';
	echo "";
	  echo "<h4>Let Aisha remember this for you and personally give you a call to remind you about the event
	  </h4></br>";
	echo "
	<div>
	<form action='$base$url' method='post' id='sms_form' style='height:350px;' class='form-horizontal'>
	<div style='float:left;'>
	<input type='hidden' name='uname' value='$sms_config[tsms_uname]'/>
	<input type='hidden' name='pass' value='$sms_config[tsms_pass]'/>
	<input type='hidden' name='send' value='$sms_config[tsms_send]'/>
	<div style='float:left'>
	<div class='control-group'>
            <label class='control-label'>Name</label>
			<div class='controls docs-input-sizes'>
				<input class='span3' type='text' placeholder='Name' name='fullname' id='fullname' value='$fullname'/>
			</div>
		</div>
		<div class='control-group'>
            <label class='control-label'>Mobile No</label>
			<div class='controls docs-input-sizes'>
				<input class='span3' type='text' placeholder='Mobile No' name='dest' id='dest' value='$mobno'/>
			</div>
		</div>
		<div class='control-group'>
            <label class='control-label'>Email</label>
			<div class='controls docs-input-sizes'>
				<input class='span3' type='text' placeholder='Name' name='email' id='email' value='$email'/>
			</div>
		</div>
	
	
	
	
	<span style='margin-left: 29px;'><input type='hidden' name='event_id_sms' id='event_id_sms' value='$event_id'/></span>
	</div>
	
	<input type='hidden' name='event_title' value='$event_sms[event_title]'>
	<input type='hidden' name='event_date' value='$event_sms[event_date_time]'>
	<input type='hidden' name='event_time' value='$event_sms[event_time]'>
	<input type='hidden' name='event_place' value='$event_sms[event_place]'>
	<input type='hidden' name='event_city' value='$event_sms[cityname]'>
	<div style='width: 440px;border-radius: 4px;margin-top: 15px;'>
	
	<div class='control-group'>
            <label class='control-label'>Event- </label>
			<div class='controls docs-input-sizes'>
				$event_sms[event_title]
			</div>
	</div>
	<div class=control-group'>
            <label class='control-label'>Event Date - </label>
			<div class='controls docs-input-sizes'>
				$event_sms[event_date_time]
			</div>
	</div>
	<div class='control-group'>
            <label class='control-label'>Event Time - </label>
			<div class='controls docs-input-sizes'>
				$event_sms[event_time]
			</div>
	</div>
	<div class='control-group'>
            <label class='control-label'>Venue - </label>
			<div class='controls docs-input-sizes'>
				$event_sms[event_place]
			</div>
	</div>
	<label class='checkbox' id='agree_terms'>
                <input type='checkbox' value='yes' name='agree' id='agree'>
            <span id='agree_terms_span'> I agree to the terms and conditions</span>
    </label>
	<input type='submit' value='SMS ME' name='btn_sms_me' id='btn_sms_me' class='btn btn-primary'/>
	</div>
	<div style='float:right;'>
	<img src='$base/images/grammargirlavatar.jpg' style='width: 159px;height: 161px;'/>
	
	</div>
	
	</form>

